/*
*/
 
$font-color: #666;
$cloud-blue: #37a8e0;


html, body{
    font-family: 'PT Sans', sans-serif;
    color: $font-color;
    background-color: white;
}

div.center{
    margin-left: auto;
    margin-right: auto;
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.center, h1.center, h2.center, h3.center, h4.center, h5.center, h6.center{ text-align: center; }

h1,h2,h3{
    color: #5e5e5e;
    font-weight: bold;
    line-height: 1.8;
}

hr.separator{
    display: block;
    width: 50%;
    margin: 30px auto;
    border-bottom: 1px solid #545454;
}

header{
    background-color: white;
    height: 90px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    
    #main-logo-box{
        float: left;
        margin-top: 20px;
    }
    #call-box{
        float: right;
        text-align: right;
        margin-top: 10px;
        
        .call-now{font-size: 18px;}
        .number{font-size: 30px; color: $font-color; font-weight: bold;}
        
        @media (max-width: 670px){
            margin-top: 15px;
            .call-now{font-size: 14px;}
            .number{font-size: 18px; color: $font-color; font-weight: bold;}
        }
    }
    
}

.wrapper{
    width: 95%;
    max-width: 1600px;
    margin: auto;
    
    @media (max-width: 670px){
        
        width: 90%;        
            
    }
}

#content{
    margin-top: 90px;
    position: relative;
    
    .teaser-col{
        
        h2{
            font-size: 35px;
        }
        p{
            line-height: 1.8;
            font-size: 20px;
            margin: 0 20px 30px 20px;
        }
        
        img{
            max-width: 90%; 
            @media (max-width: 670px){
        
                max-width: 30%;        
                    
            }
        }
    }
    
    .bg-main-content{
        background-color:white;
        box-shadow: 0 0 20px rgba(0,0,0,0.3); 
        position: relative;
        z-index: 1;
        padding-top: 80px;
        
    }
    
    .bg-contact-content{
        background-color: $cloud-blue; 
        position: relative;
        z-index: 2;
        padding-top: 30px;
        padding-bottom: 30px;
        color: white;
        p{
            color: white;
            font-size: 20px;
            line-height: 1.4;
        }
        
        h3{
            color: white;
            font-size:35px;
        }
        
        h4{
            font-weight: bold;
            font-size: 30px;
            margin-top: 20px;
        }
    }
    
    #video-bg{
        background-color: $cloud-blue;
        position: relative;
        width: 100%;
        height: 200px;
        z-index: 0;
        overflow: visible;
    }
    
    #video-wrapper{
        width: 70%;
        max-width: 700px;
        margin: 20px auto 15px auto;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 2
    }
}

#contact-form{
    input{
        margin-bottom: 20px;
        padding: 10px 5px;
        height: 45px;
        font-size: 20px;
    }
    
    textarea{
        font-size: 20px;
    }
    
    label{
        font-size: 18px;
    }
    
    input[type="submit"]{
        background-color: #21d900;
        text-align: center;
        color: white;
        font-style: italic;
        font-size: 22px;
        font-weight: bold;
        padding: 10px 0 10px 0;
        height: 60px;
        display: block;
        width: 100%;
        border: 0;
        margin-top: 20px;
    }
    
    ::-webkit-input-placeholder {font-style: italic; font-size: 20px; color: #dadada;}
    
    :-moz-placeholder {font-style: italic; font-size: 20px; color: #dadada;}
    
    ::-moz-placeholder {font-style: italic; font-size: 20px; color: #dadada;}
    
    :-ms-input-placeholder {font-style: italic; font-size: 20px; color: #dadada;}
}

#playerOqqwxAit{
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

footer{
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    position: relative;
    z-index: 4;	
    padding-top: 15px;
    overflow: hidden;
    
    .madeby{float: right;}
    .links{float: left;}
    
    a{color: $cloud-blue; text-decoration: none;}
    a:hover{text-decoration: underline;}
    .fa{color: $cloud-blue;}
}

@media (max-width: 1150px){
    
    
}

@media (max-width: 792px){
    
    
}