/*
*/
html, body {
  font-family: 'PT Sans', sans-serif;
  color: #666666;
  background-color: white; }

div.center {
  margin-left: auto;
  margin-right: auto; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

p.center, h1.center, h2.center, h3.center, h4.center, h5.center, h6.center {
  text-align: center; }

h1, h2, h3 {
  color: #5e5e5e;
  font-weight: bold;
  line-height: 1.8; }

hr.separator {
  display: block;
  width: 50%;
  margin: 30px auto;
  border-bottom: 1px solid #545454; }

header {
  background-color: white;
  height: 90px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  header #main-logo-box {
    float: left;
    margin-top: 20px; }
  header #call-box {
    float: right;
    text-align: right;
    margin-top: 10px; }
    header #call-box .call-now {
      font-size: 18px; }
    header #call-box .number {
      font-size: 30px;
      color: #666666;
      font-weight: bold; }
    @media (max-width: 670px) {
      header #call-box {
        margin-top: 15px; }
        header #call-box .call-now {
          font-size: 14px; }
        header #call-box .number {
          font-size: 18px;
          color: #666666;
          font-weight: bold; } }

.wrapper {
  width: 95%;
  max-width: 1600px;
  margin: auto; }
  @media (max-width: 670px) {
    .wrapper {
      width: 90%; } }

#content {
  margin-top: 90px;
  position: relative; }
  #content .teaser-col h2 {
    font-size: 35px; }
  #content .teaser-col p {
    line-height: 1.8;
    font-size: 20px;
    margin: 0 20px 30px 20px; }
  #content .teaser-col img {
    max-width: 90%; }
    @media (max-width: 670px) {
      #content .teaser-col img {
        max-width: 30%; } }
  #content .bg-main-content {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    padding-top: 80px; }
  #content .bg-contact-content {
    background-color: #37a8e0;
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white; }
    #content .bg-contact-content p {
      color: white;
      font-size: 20px;
      line-height: 1.4; }
    #content .bg-contact-content h3 {
      color: white;
      font-size: 35px; }
    #content .bg-contact-content h4 {
      font-weight: bold;
      font-size: 30px;
      margin-top: 20px; }
  #content #video-bg {
    background-color: #37a8e0;
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 0;
    overflow: visible; }
  #content #video-wrapper {
    width: 70%;
    max-width: 700px;
    margin: 20px auto 15px auto;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2; }

#contact-form input {
  margin-bottom: 20px;
  padding: 10px 5px;
  height: 45px;
  font-size: 20px; }
#contact-form textarea {
  font-size: 20px; }
#contact-form label {
  font-size: 18px; }
#contact-form input[type="submit"] {
  background-color: #21d900;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0 10px 0;
  height: 60px;
  display: block;
  width: 100%;
  border: 0;
  margin-top: 20px; }
#contact-form ::-webkit-input-placeholder {
  font-style: italic;
  font-size: 20px;
  color: #dadada; }
#contact-form :-moz-placeholder {
  font-style: italic;
  font-size: 20px;
  color: #dadada; }
#contact-form ::-moz-placeholder {
  font-style: italic;
  font-size: 20px;
  color: #dadada; }
#contact-form :-ms-input-placeholder {
  font-style: italic;
  font-size: 20px;
  color: #dadada; }

#playerOqqwxAit {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

footer {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 4;
  padding-top: 15px;
  overflow: hidden; }
  footer .madeby {
    float: right; }
  footer .links {
    float: left; }
  footer a {
    color: #37a8e0;
    text-decoration: none; }
  footer a:hover {
    text-decoration: underline; }
  footer .fa {
    color: #37a8e0; }
